@font-face {
    font-family: 'SBAggroB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: SBAggroB;
    background-color: #222;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-direction: column;
}

.container {
    width: 20%;
    background-color: #007bff00;
    font-family: SBAggroB;
}

.contai {
    width: 90%;
    font-family: SBAggroB;
}

.conta {
    width: 90%;
    margin-top: 10px;
    font-family: SBAggroB;
}

.chat-container {
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 100%;
    background: #222;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    font-family: SBAggroB;
}

.exit-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    padding: 5px 10px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-family: SBAggroB;
}

.chat-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    overflow-y: auto;
    background: #222;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-family: SBAggroB;
}


.chat-box p {
    margin: 5px 0;
    padding: 5px;
    background: #222;
    border-radius: 5px;
    display: inline-block;
    max-width: 80%;
    font-family: SBAggroB;
}

.input-container {
    display: flex;
    gap: 10px;
    font-family: SBAggroB;
}

input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family: SBAggroB;
}

button {
    padding: 10px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-family: SBAggroB;
}

.button1 {
    padding: 10px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-family: SBAggroB;
    
}
